.esqcima,
.dircima,
.esqbaixo,
.dirbaixo {
  position: absolute;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
  height: 20%;
}

.esqcima {
  top: 0;
  left: 0;
  background: #ff1a1a;
}

.dircima {
  top: 0;
  right: 0;
  background: #fff700;
}

.esqbaixo {
  left: 0;
  bottom: 0;
  background: #0a8f0a;
}

.dirbaixo {
  right: 0;
  bottom: 0;
  background: #0b19ff;
}

/* Responsividade para telas menores */
@media (max-width: 900px) {
  .esqcima,
  .dircima,
  .esqbaixo,
  .dirbaixo {
    position: static;
    width: 100%;
    height: 60px;
  }
}
